/.vs
/packages
/Application.MainBoundedContext/bin
/Application.MainBoundedContext/obj
/Application.MainBoundedContext.DTO/bin
/Application.MainBoundedContext.DTO/obj
/Application.MainBoundedContext.Tests/bin
/Application.MainBoundedContext.Tests/obj
/Application.Seedwork/bin
/Application.Seedwork/obj
/DistributedServices.MainBoundedContext/bin
/DistributedServices.MainBoundedContext/obj
/DistributedServices.Seedwork/bin
/DistributedServices.Seedwork/obj
/Domain.MainBoundedContext/bin
/Domain.MainBoundedContext/obj
/Domain.MainBoundedContext.Tests/bin
/Domain.MainBoundedContext.Tests/obj
/Domain.Seedwork/bin
/Domain.Seedwork/obj
/Domain.Seedwork.Tests/bin
/Domain.Seedwork.Tests/obj
/Infrastructure.Crosscutting/bin
/Infrastructure.Crosscutting/obj
/Infrastructure.Crosscutting.NetFramework/bin
/Infrastructure.Crosscutting.NetFramework/obj
/Infrastructure.Crosscutting.Tests/bin
/Infrastructure.Crosscutting.Tests/obj
/Infrastructure.Data.MainBoundedContext/bin
/Infrastructure.Data.MainBoundedContext/obj
/Infrastructure.Data.MainBoundedContext.Tests/bin
/Infrastructure.Data.MainBoundedContext.Tests/obj
/Infrastructure.Data.Seedwork/bin
/Infrastructure.Data.Seedwork/obj
/NLayerAppModeling/bin
/NLayerAppModeling/obj
/Presentation.RIA.Silverlight.Client/Bin
/Presentation.RIA.Silverlight.Client/obj
/Presentation.RIA.Silverlight.Client.Web/bin
/Presentation.RIA.Silverlight.Client.Web/obj
/Presentation.RIA.Silverlight.ServiceAgents/Bin
/Presentation.RIA.Silverlight.ServiceAgents/obj
